#nav a {
	font-size: 1.1em;
	color: #666;
	font-weight: bold;
	margin-right: 1em;
	display: inline-block;
}
#nav a:last-child {
	margin-right: 0;
}
td {
	text-align: right;
}	
table#upcoming {
	font-size: 0.9em;
}
.records-list-modal .records-list {
	max-height: 300px;
	overflow-y: auto;
	margin-bottom: 1em;
}
.records-list-modal table {
	margin-bottom: 0;
}
#user-menu {
	margin-top: 1em;
}
#user-menu a {
	margin-left: 1em;
	color: #666;
	display: inline-block;
}
#user-menu a.language-selector {
	margin-left: 0.3em;
}

#edit-record-form .btn-danger,
#edit-balance-form .btn-danger{
	float: left;
}

fieldset div.fields{
	display: none;
}
