{% extends 'includes/modal_base.html' %}
{% load i18n %}

{% block title %}{% trans 'Update Record' %}{% endblock title %} 

{% block pre-body %}
<form action="{% url 'update_record' pk=object.pk %}" id="edit-record-form" method="post" class="modal-form">
{% endblock %}

{% block body %} 
    {% csrf_token %}
    {% include "includes/_record_form_fields.html" %}
{% endblock body %}


{% block footer-body %}
        <button id="btn-delete" type="button" class="btn btn-danger" data-url="{% url 'delete_record' pk=object.pk %}">Delete record</button>
        <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
{% endblock footer-body %}

{% block post-footer %}
    </form>
    <script> 
        prepareForm();
        $('#edit-record-form #btn-delete').on('click',function(){
            var pk = $(this).data("id")
            var url = $(this).data("url")
            var r = confirm("{% trans "Do you really want to delete this record?" %}");
            if (r == true) {
                $.post(url, function(responseText){
                    if (responseText == 'successfully-sent!'){
                        location.reload();
                    } else {
                        alert("{% trans "We are experiencing a problem. Please, try again later." %}");
                    }
                });
            } else {
                return false;
            }
        }); 
    </script> 
{% endblock %}