{% extends 'includes/modal_base.html' %}
{% load i18n %}

{% block title %}
    {{ view.title }}
{% endblock title %} 

{% block pre-body %}
{% if object and object.pk %}
    <form action="{% url view.url_name pk=object.pk %}" id="edit-balance-form" method="post">
{% else %}
    <form action="{% url view.url_name %}" id="edit-balance-form" method="post">
{% endif %}
{% endblock %}

{% block body %} 
    {% csrf_token %}
    {{ form.as_p }}
{% endblock body %}


{% block footer-body %}
        {% if view.can_delete %}
        <button id="btn-delete" type="button" class="btn btn-danger" data-url="{% url 'delete_record' pk=object.pk %}">Delete record</button>
        {% endif %}
        <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
{% endblock footer-body %}

{% block post-footer %}
    </form>

    <script> 
        prepareInputs('{{ start_date }}');
        $('#edit-balance-form').on('submit', function(){
            form = $(this);
            $.post(form.attr('action'), form.serialize(), function(responseText){
                if (responseText['id']){
                    location.reload();
                } else {
                    alert("{% trans "We are experiencing a problem. Please, try again later." %}");
                }
            });
            return false;
        });
        {% if view.can_delete %}
        $('#edit-balance-form #btn-delete').on('click',function(){
            var pk = $(this).data("id")
            var url = $(this).data("url")
            var r = confirm("{% trans "Do you really want to delete this record?" %}");
            if (r == true) {
                $.post(url, function(responseText){
                    if (responseText['id']){
                        location.reload();
                    } else {
                        alert("{% trans "We are experiencing a problem. Please, try again later." %}");
                    }
                });
            } else {
                return false;
            }
        });
        {% endif %}
    </script> 
{% endblock %}