{% load i18n record_tags static %}
<div class="row">
	<div class="col-md-8">
		<h1>
		{% trans "My Money Forecast" %}
		<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
		</h1>
	</div>
	<div id="user-menu" class="col-md-4 text-right">
		<a href="{% url 'set_language' %}?language=pt&next=/" title="Português" class="language-selector"><img src="{% static "img/brazil_small.png" %}" alt="Portuguese"></a>
		<a href="{% url 'set_language' %}?language=en&next=/" title="English" class="language-selector"><img src="{% static "img/uk_small.png" %}" alt="English"></a>
		<a href="{% url 'set_language' %}?language=de&next=/" title="Deutsch" class="language-selector"><img src="{% static "img/germany_small.png" %}" alt="German"></a>
		<a href="{% url 'admin:profiles_profile_change' request.user.profile.id %}" target="_blank"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span>{{ request.user.first_name|default:request.user.username|capfirst }}</span></a>
		<a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>  {% trans "Logout" %}</a>
</div>
<div class="row" id="nav">
	<div class="col-md-6 col-md-offset-6 text-right">
		<span class="glyphicon glyphicon-import" aria-hidden="true"></span>
		<a href="{% url 'admin:records_record_add' %}?account={{ income_id }}" target="_blank">{% trans "New Income" %}</a>&nbsp;&nbsp;
		<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
		<a href="{% url 'admin:records_record_add' %}?account={{ outcome_id }}" target="_blank">{% trans "New Outcome" %}</a>&nbsp;&nbsp;
		<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
		<a href="{% url 'admin:records_record_add' %}?account={{ savings_id }}" target="_blank">{% trans "New Savings" %}</a>&nbsp;&nbsp;
		<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
		<a href="{% url 'admin:records_record_add' %}?account={{ set_balance_id }}" target="_blank">{% trans "Set Balance" %}</a>
	</div>
</div>
