<!-- Modal -->
<div class="modal fade" id="record-form" tabindex="-1" role="dialog" aria-labelledby="record-form" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<script>
  $('.modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var recipient = button.data('url'); // Extract info from data-* attributes
    $('#record-form .modal-content').load(recipient);
  });
</script>