{% load admin_urls record_tags i18n %}
<div class="modal fade records-list-modal" id="{{ type_records }}-{{ month.month }}-{{ month.year }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="text-center">{{ type_records|capfirst }} {{ month.start_date|date:"b/Y"|capfirst }}</h1>
        <div class="records-list">
            <table class="table table-hover">
              {% for record in record_list %}
              <tr title="{{ record.category }}" class="{% if not record.1|is_accountable:month.initial_balance_date %}warning{% endif %}">
                <td>
                  {% if record.1.is_recurrent %}<small><span class="glyphicon glyphicon-repeat" aria-hidden="true" title="{% trans "Recurrent" %}"></span></small>{% endif %}
                </td>
                <td>
                  {{ record.0|date:"d b" }}
                </td>
                <td>{# TODO: add number eg. 2/10 #} 
                  {{ record.1.description|default:record.1.category }} 
                  {% if record.1.is_savings %}<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true" title="{% trans 'Savings' %}"></span>{% endif %}
                  {% if not record.1|is_accountable:month.initial_balance_date %}&midast;{% endif %}
                </td>
                <td class="number">{{ currency }} {{ record.1.amount|format_number }}</td>
                <td>
                {% is_same_month record.1 month.month month.year "same_month" %}
                {% if record.1.is_recurrent and not same_month %}
                  <a  href="#" data-toggle="modal" data-target="#record-form" data-url="{% url 'create_recurrent_month' parent_pk=record.1.pk month=month.start_date.month year=month.start_date.year %}">
                    <span class="glyphicon glyphicon-pencil text-muted" aria-hidden="true"></span>
                  </a>
                {% else %}
                  {% if record.1.parent %}
                    <a  href="#" data-toggle="modal" data-target="#record-form" data-url="{% url 'edit_recurrent_month' pk=record.1.pk %}">
                      <span class="glyphicon glyphicon-pencil text-muted" aria-hidden="true"></span>
                    </a>
                  {% else %}
                    <a  href="#" data-toggle="modal" data-target="#record-form" data-url="{% url 'update_record' pk=record.1.pk %}">
                      <span class="glyphicon glyphicon-pencil text-muted" aria-hidden="true"></span>
                    </a>
                  {% endif %}
                {% endif %}
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        <p class="text-muted"><small>*{% trans "Yellow records are not being calculated on the final balance <br>because they are before the initial balance from " %}{{ month.initial_balance_date|date:"d b Y" }}</small></p>

        <p>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->