{% load i18n record_tags static %}
<div id="sidebar" class="col-md-4">
	<h3>
		{% trans "It's" %} {{ current_month.start_date|date:"F Y" }}!
	</h3>

	<p>
		{% trans "The total of debts this month is" %}: <br>
		{{ currency }} {{ current_month.total_outcome|format_number }}
	</p>
	
	<p>
		{% if current_month.difference < 0 %}
				{% trans "You've spent"%}: <br>
					{{ currency }} {{ current_month.difference|pretty_number:"absolute" }} <br>
				{% trans "more then you've earned this month" %}.
		{% else %}
			{% if current_month.difference == 0 %}
				{% trans "You have nothing" %}: <br>
				{% trans "No gain, no fun." %}
			{% else %}
				{% trans "You have" %}: <br>
					{{ currency }} {{ current_month.difference|pretty_number }} 
				{% trans "extra cash this month. <br>Do some savings!" %}
			{% endif %}
		{% endif %}
	</p>

	<h4>
		{% trans "Upcoming this month" %}:
	</h4>
	{% with current_month.get_upcoming_records as upcoming_list %}
	{% if not upcoming_list %}
		<p class="text-muted">{% trans "No more debts this month, hooray!" %}</p>
	{% else %}
	<table id="upcoming" class="table table-condensed">
		{% for record in upcoming_list %}
		<tr title="{{ record.1.category }}">
			<td class="text-left">
				{% if record.0 == today %}
					{% trans "Today" %}
				{% else %}
					{% if record.0 == tomorrow %}
						{% trans "Tomorrow" %}
					{% else %}
						{{ record.0|date:"d b" }}
					{% endif %}
				{% endif %}
			</td>
			<td>{# TODO: add number eg. 2/10 #} 
				{{ record.1.description|default:record.1.category }}
				{% if record.1.is_savings %}<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true" title="{% trans 'Savings' %}"></span>{% endif %}
			</td>
			<td class="number">{{ currency }} {{ record.1.amount|format_number }}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
	{% endwith %}
	<hr>

	<h4>
		{% trans "Savings" %}:
	</h4>
	{% with current_month.get_savings_totals as savings_list %}
	{% if savings_list.total <= 0 %}
		<p class="text-muted">{% trans "Oops, no savings yet. <br>You'd better start soon!" %}</p>
	{% else %}
	<table class="table table-condensed">
		{% for record in savings_list.list %}
		{% if record.1 > 0 %}
		<tr>
			<td class="text-left">{{ record.0.name }}</td>
			<td class="number">{{ currency }} {{ record.1|format_number }}</td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>
	{% endif %}
	{% endwith %}
	<p><a  href="#" data-toggle="modal" data-target="#record-form" data-url="{% url 'create_record' type=savings_type %}">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		{% trans "Add savings" %}
	</a>
	&nbsp;
	<!-- <a  href="#" data-toggle="modal" data-target="#record-form" data-url="{% url 'create_record' type=savings_type %}"> -->
		<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
		{% trans "Withdraw" %}
	<!-- </a> -->
	</p>
	<hr>

	<h4>
		{% trans "Unscheduled debts" %}:
	</h4>
	{% with current_month.get_unscheduled_debt_totals as unscheduled_list %}
	<p class="text-muted">
		{% if unscheduled_list.list %}
			{% trans "This is still not being accounted. Be aware!" %}
		{% else %}
			{% trans "You have no unscheduled debts. Unscheduled debts are those debts you don't know when you are going to pay for them yet, like your mum's or uncle Joe's." %}
		{% endif %}
	</p>
	<table class="table table-condensed">
		{% for record in unscheduled_list.list %}
		<tr>
			<td class="text-left">{{ record.description|default:record.category }}</td>
			<td class="number">{{ currency }} {{ record.amount|format_number }}</td>
			<td>
				 <a href="#" data-toggle="modal" data-target="#record-form" data-url="{% url 'update_unscheduled_debt' pk=record.pk %}">
	                 <span class="glyphicon glyphicon-pencil text-muted" aria-hidden="true"></span>
	             </a>
			</td>
		</tr>
		{% endfor %}
		{% if unscheduled_list.total > 0 %}
		<tr>
			<td class="text-left"><strong>Total Debts</strong></td>
			<td class="number">{{ currency }} {{ unscheduled_list.total|format_number }}</td>	
			<td></td>
		</tr>
		{% endif %}
	</table>
	{% endwith %}
	<p>
		<a href="#" data-toggle="modal" data-target="#record-form" data-url="{% url 'create_unscheduled_debt' %}">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			{% trans "Add unscheduled debt" %}
	</a></p>
	<hr>

	<h4>
		{% trans "Unscheduled credits" %}:
	</h4>
	{% with current_month.get_unscheduled_credit_totals as unscheduled_list %}
	<p class="text-muted">
		{% if unscheduled_list.list %}
			{% trans "This is still not being accounted. Be aware!" %}
		{% else %}
			{% trans "You have no unscheduled credits. Unscheduled credits is the money you lent that you have no idea when they will be paid back, like to your best friend or your brother." %}
		{% endif %}
	</p>
	<table class="table table-condensed">
		{% for record in unscheduled_list.list %}
		<tr>
			<td class="text-left">{{ record.description|default:record.category }}</td>
			<td class="number">{{ currency }} {{ record.amount|format_number }}</td>
			<td>
				 <a href="#" data-toggle="modal" data-target="#record-form" data-url="{% url 'update_unscheduled_credit' pk=record.pk %}">
	                 <span class="glyphicon glyphicon-pencil text-muted" aria-hidden="true"></span>
	             </a>
			</td>
		</tr>
		{% endfor %}
		{% if unscheduled_list.total > 0 %}
		<tr>
			<td class="text-left"><strong>Total Credits</strong></td>
			<td class="number">{{ currency }} {{ unscheduled_list.total|format_number }}</td>	
			<td></td>
		</tr>
		{% endif %}
	</table>
	{% endwith %}
	<p>
		<a href="#" data-toggle="modal" data-target="#record-form" data-url="{% url 'create_unscheduled_credit' %}">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		{% trans "Add unscheduled credit" %}
	</a></p>
	<hr>

  </div>
</div>