{% load i18n record_tags static %}
<div id="sidebar" class="col-md-3">
	<h3>
		{% trans "It's" %} {{ current_month.start_date|date:"F Y" }}!
	</h3>

	<p>
		{% trans "The total of debts this month is" %}: <br>
		$ {{ current_month.total_outcome|pretty_number }}
	</p>
	
	<p>
		{% if current_month.accountable_difference < 0 %}
				{% trans "You need" %}: <br>
					$ {{ current_month.accountable_difference|pretty_number }} <br>
				{% trans "to be able to pay your bills" %}.
		{% else %}
			{% if current_month.accountable_difference == 0 %}
				{% trans "You have nothing" %}: <br>
				{% trans "No gain, no fun." %}
			{% else %}
				{% trans "You have" %}: <br>
					$ {{ current_month.accountable_difference|pretty_number }} 
				{% trans "extra cash. Do some savings!" %}
			{% endif %}
		{% endif %}
	</p>

	<h4>
		{% trans "Upcoming this month" %}:
	</h4>
	{% with current_month.get_upcoming_records as upcoming_list %}
	{% if not upcoming_list %}
		<p class="text-muted">{% trans "No more debts this month, hooray!" %}</p>
	{% else %}
	<table id="upcoming" class="table table-condensed">
		{% for record in upcoming_list %}
		<tr title="{{ record.1.category }}">
			<td class="text-left">
				{% if record.0 == today %}
					{% trans "Today" %}
				{% else %}
					{% if record.0 == tomorrow %}
						{% trans "Tomorrow" %}
					{% else %}
						{{ record.0|date:"d b" }}
					{% endif %}
				{% endif %}
			</td>
			<td>{# TODO: add number eg. 2/10 #} 
				{{ record.1.description|default:record.1.category }}
			</td>
			<td class="number">$ {{ record.1.value|stringformat:".2f" }}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
	{% endwith %}
	<hr>

	<h4>
		{% trans "Savings" %}:
	</h4>
	{% with current_month.get_savings_totals as savings_list %}
	{% if savings_list.total <= 0 %}
		<p class="text-muted">{% trans "Oops, no savings yet. <br>You'd better start soon!" %}</p>
	{% else %}
	<table class="table table-condensed">
		{% for record in savings_list.list %}
		{% if record.1 > 0 %}
		<tr>
			<td class="text-left">{{ record.0.name }}</td>
			<td class="number">$ {{ record.1|stringformat:".2f" }}</td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>
	{% endif %}
	{% endwith %}
	<p><a href="{% url 'admin:records_record_add' %}?category={{ savings_id }}" target="_blank">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		{% trans "Add savings" %}
	</a></p>
	<hr>

	<h4>
		{% trans "Unscheduled debts" %}:
	</h4>
	{% with current_month.get_unscheduled_totals as unscheduled_list %}
	<p class="text-muted">
		{% if unscheduled_list.list %}
			{% trans "This is still not being categoryed. Be aware!" %}
		{% else %}
			{% trans "You have no unscheduled debts. Unscheduled debts are those debts you don't know when you are going to pay for them yet, like your mum's or uncle Joe's." %}
		{% endif %}
	</p>
	<table class="table table-condensed">
		{% for record in unscheduled_list.list %}
		<tr>
			<td class="text-left">{{ record.description|default:record.category }}</td>
			<td class="number">$ {{ record.value|stringformat:".2f" }}</td>
			<td>
				 <a href="{% url 'admin:records_record_change' record.pk %}" target="_blank">
	                 <span class="glyphicon glyphicon-pencil text-muted" aria-hidden="true"></span>
	             </a>
			</td>
		</tr>
		{% endfor %}
		{% if unscheduled_list.total > 0 %}
		<tr>
			<td class="text-left"><strong>Total Debts</strong></td>
			<td class="number">$ {{ unscheduled_list.total|stringformat:".2f" }}</td>	
			<td></td>
		</tr>
		{% endif %}
	</table>
	{% endwith %}
	<p><a href="{% url 'admin:records_record_add' %}?category={{ unscheduled_id }}" target="_blank">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		{% trans "Add unscheduled debt" %}
	</a></p>
	<hr>

  </div>
</div>