{% load i18n record_tags static %}
<!DOCTYPE html>
<html lang="en">
<head>

<title>{% trans "My Money Forecast" %} Dashboard</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "css/base.css" %}">

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->

<!-- Latest compiled and minified JavaScript -->
<script src="{% static "bootstrap/js/j.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

</head>
<body>
 	<div class="container">
		{% include "includes/header.html" %}
		{% block content %}
		{% endblock %}
		{% include "includes/sidebar.html" %}
		<div class="row" id="footer">
			<p class="text-center">Copyleft {% now "Y" %} - www.andersonsantos.info - <a href="https://github.com/curaloucura/money-forecast" target="_blank">Source Code</a></p>
		</div>
	</div>
</body>
</html>