{% load i18n record_tags static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->

<!-- Latest compiled and minified JavaScript -->
<script src="{% static "bootstrap/js/j.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

<style>
	#nav a {
		font-size: 1.1em;
		color: #666;
		font-weight: bold;
		margin-right: 1em;
		display: inline-block;
	}
	#nav a:last-child {
		margin-right: 0;
	}
	td {
		text-align: right;
	}	
	table#upcoming {
		font-size: 0.9em;
	}
	.records-list-modal .records-list {
		max-height: 300px;
		overflow-y: auto;
		margin-bottom: 1em;
	}
	.records-list-modal table {
		margin-bottom: 0;
	}
</style>

</head>
<body>
 	<div class="container">
		{% include "includes/header.html" %}
		{% block content %}
		{% endblock %}
		{% include "includes/sidebar.html" %}
		<div class="row" id="footer">
			<p class="text-center">Copyleft {% now "Y" %} - www.andersonsantos.info - <a href="https://github.com/curaloucura/money-forecast" target="_blank">Source Code</a></p>
		</div>
	</div>
</body>
</html>